<html>
<head>
    <title>Upload to Amazon</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            $("#resize_values").hide();

            $("#resize").change(function(event){
                if ($(this).is(':checked')) {
                    $("#resize_values").show();
                } else {
                    $("#resize_values").hide();
                }
            });
        });
    </script>
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div {% if category == 'error' %}style="background-color:#FF9999;border: 3px solid red;" {% endif %}>{{ message|safe }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST" enctype="multipart/form-data" action="/upload">
    {{ form.hidden_tag() }}

    <p>{{form.in_directory.label}} {{ form.in_directory }}<br/></p>

    <p>{{form.file_value.label}}: {{ form.file_value }}<br/></p>

        Cannot get this to work yet    
      <p>{{form.save_as_png.label}}: {{form.save_as_png}}</p>
    {# 
    #}

    <p>{{form.resize.label}}: {{form.resize}}</p>
    <p id="resize_values" style="padding-left:5em;">
        {{form.resize_height.label}}: {{form.resize_height}}<br/>
        {{form.resize_width.label}}: {{form.resize_width}}<br/>
    </p>

    
    {% if show_height %}
        <p>{{form.max_height.label}}: {{form.max_height}}</p>
    {% endif %}
    {% if show_width %}
        <p>{{form.max_width.label}}: {{form.max_width}}</p>        
    {% endif %}
    {% if show_size %}
        <p>{{form.max_size.label}}: {{form.max_size}}</p>
    {% endif %}

    <p>Force it to over write existing file: {{ form.over_write_existing }}<br/></p>


    <p><input type="submit" value="Upload"></p>
</form>



</body>
</html>