{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message|safe }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form method="POST" enctype="multipart/form-data" action=".">
    {{ form.csrf_token }}
    Choose where it goes: {{ form.in_directory }}<br/>
    Choose file: {{ form.file_value }}<br/>
    Force it to over write existing file: {{ form.over_write_existing }}<br/>
    <input type="submit" value="Upload">
</form>

